<div class="container">
<div class="blog-header">
<p id="notice" role="alert"><%= notice %></p>
<h1 class="blog-title">Listing posts</h1>
</div>

 <div class="cal">
   <%= month_calendar table: {class: "calendar"}, td: {class: "day"} do |date| %>
       <%= date.day %>
   <% end %>
 </div>

<div class="row">
  <div class="col-sm-8 blog-main">
    <%= link_to 'Active posts', posts_path(sort: 'active'), class: 'btn btn-primary post' %>
    <%= link_to 'Popular posts', posts_path(sort: 'popular'), class: 'btn btn-primary post' %>
    <%= link_to 'New Post', (new_post_path if current_user), class: 'btn btn-primary post' %>
    <%= link_to 'Favorite posts', (favorite_posts_path if current_user), class: 'btn btn-info post' %>
  <% @posts.each do |post| %>
    <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to post.title, post %></h2>
      <p class ="blog-post-meta">
          <%= image_tag avatar_url(post.user), height: '64', width: '64' %> <%= post.user.name %>
      </p>
      <p><%= post.body %></p>
      <p class="label label-tags"><%= post.tags %></p>
      <div class="rates"><%= get_likes(post, 1) %> Likes <%= get_likes(post, -1) %> Dislikes</div>

      <%= link_to 'Show', post, :class => 'btn btn-primary' %>
      <% if post.user.eql?(current_user) %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

<br>
</div>

</div>