<div class="container">
<div class="row">
<div class="col-sm-8 blog-main">
  <p id="notice" role="alert"><%= notice %></p>
  <div>
    <%= image_tag avatar_url(@post.user), height: '64', width: '64' %>
  </div>
  <div class="blog-post">
    <p>
      <h2 class="blog-post-title"><%= @post.title %></h2>
    </p>

    <p>
      <%= @post.body %>
    </p>

    <p>
      <strong>Tags:</strong><br>
      <%= @post.tags %>
    </p>

    <p id = "votes">
      <div id="likes" class ="float"><%= get_likes(@post, 1) %></div>
      <%= link_to "Like", vote_post_path(value: 'like'), remote: true, method: :put, class: 'btn btn-success rate' %>
      <%= link_to "Dislike", vote_post_path(value: 'dislike'), remote: true, method: :put, class: 'btn btn-danger rate' %>
      <div id="dislikes" class ="float"><%= get_likes(@post, -1) %></div>
    </p>

    <p class="blog-post-meta">
       <strong>Created by: </strong><%= @post.user.name %>
    </p>
  </div>
  <% if @post.user.eql?(current_user) %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default btn-sm' %>
  <% end %>
  <%= link_to 'Back', posts_path, class: 'btn btn-default btn-sm' %>
  <br><br><br>

  <div clas="well">
      <% if current_user %>
          <%= form_for [@post, Comment.new], remote: true, :html => {:role=> 'form'} do |f| %>
              <%= f.hidden_field :parent_id %>
              <p>
                <%= f.label :body, "New comment" %><br/>
                <div class="form-group">
                    <%= f.text_area :body, class: 'form-control'%>
                </div>
              </p>
              <p><%= f.submit "Add comment", class: 'btn btn-primary' %></p>
          <% end %>
      <% end %>
  </div>
  <hr>
  <h3>Comments:</h3>

  <div class="comments">
    <%= nested_comments @post.comments.arrange %>
  </div>

</div>
</div>
</div>

