<!DOCTYPE html>
<html>
<head>
  <title>RoRLesson3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
     <%= render 'layouts/header' %>
     <% if (cookies_counter%10 == 0) %>
        <div class="banner" ><embed src="<%= asset_path("banner.swf") %>" width ="728" height="90"/></div>
     <% end %>

     <%= yield %>

</body>
</html>
